# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Android Studio
local.properties
.externalNativeBuild/
.cxx/
captures/

# OS-specific
.DS_Store
Thumbs.db

# Multi-module build folders
**/build/
